.dub
docs.json
__dummy.html
docs/
bin/
dist/
/openmultispectralalignmenttool
openmultispectralalignmenttool.so
openmultispectralalignmenttool.dylib
openmultispectralalignmenttool.dll
openmultispectralalignmenttool.a
openmultispectralalignmenttool.lib
openmultispectralalignmenttool-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
python_3_11_14/

.vscode